.cite-div {
  display: block;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
}

.cite-tabs {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.example-form {
  min-width: 500px;

  align-items: center;
  margin-left: 1em;
}

mat-form-field {
  width: 100%;
  margin-top: 1em;
}
