<cdk-virtual-scroll-viewport
  #bookContent
  [segmentSizes]="segmentPositions | async"
  (scroll)="viewportScroll()"
  (scrolledIndexChange)="scrolledIndexChange($event)"
>
  <span
    *cdkVirtualFor="
      let segment of classification.textSegments$ | async;
      trackBy: trackByStart
    "
    [id]="'segment-' + segment.start"
    [style.background-color]="classification.toRgb(segment.color)"
    [matTooltip]="classification.enableTooltip ? scoreAuthors(segment) : ''"
    [matTooltipClass]="'line-break-tooltip'"
    [matTooltipDisabled]="!classification.enableTooltip"
    [matTooltipShowDelay]="700"
    [matTooltipHideDelay]="800"
    matTooltipPosition="right"
    >{{ segment.text }}&nbsp;</span
  >
</cdk-virtual-scroll-viewport>
