:host {
  max-height: 100%;
  overflow-y: auto;
  white-space: pre-wrap;
  text-align: justify;
}

span {
  cursor: pointer;
  border: 0.5px dotted transparent;
  &:hover {
    border-color: black;
  }
}

ul.no-padding {
  padding-inline-start: 20px;
}
