:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Ubuntu Mono", monospace;
}
.book-view {
  display: flex;
  flex-grow: 1;

  app-book {
    flex: 8;
    box-sizing: border-box;
    position: relative;
  }
  app-book-preview {
    flex: 2;
  }
}
