.mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 20px;
}

.sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav-container {
  height: calc(100% - 64px);
}

mat-sidenav-content {
  overflow: hidden;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
